# Dependency libraries
**/node_modules/
.pnp
.pnp.js

# Environment variables / secrets (excluded because each developer creates their own local environment)
**/.env
**/.env.local
**/.env.production
**/.env.development

# Build outputs / cache
**/dist/
**/.next/
**/out/
**/.build/
.npm

# OS-specific junk files
.DS_Store
Thumbs.db

# Database and Secrets
backend/data/
*.sqlite
*.db

# IDE and Agent Tools
.gemini/
.vscode/
.idea/